<%- include('header.ejs') %>

  <p>Erro durante a requisição. Veja os detalhes a seguir:</p>

  <pre><%- message %> (código HTTP: <%- error.status %>)</pre>
  <pre><code><%- error.stack %></code></pre>
  
<%- include('footer.ejs') %>